<launch>
    <arg name="video_file" default="my_video.mp4"/>
    <arg name="frame_id" default="mp4"/>
    <arg name="camera_name" default="mp4"/>

    <arg name="bag_sync" default="true"/>
    <arg name="camera_info_file" default="camera_info.yaml"/>
    <arg name="save_splat_images" default="true"/>
    <arg name="splat_fps" default="5"/>

    <node pkg="mp4_to_ros2" exec="mp4_node" output="screen">
        <param name="video_file" value="$(var video_file)"/>
        <param name="frame_id" value="$(var frame_id)"/>
        <param name="camera_name" value="$(var camera_name)"/>
        <param name="bag_sync" value="$(var bag_sync)"/>
        <param name="camera_info_file" value="$(var camera_info_file)"/>
        <param name="save_splat_images" value="$(var save_splat_images)"/>
        <param name="splat_fps" value="$(var splat_fps)"/>
    </node>
</launch>